In [25]:
import numpy as np
import pandas as pd

In [26]:
df=pd.read_csv('C:\\Users\\Keethika P\\Downloads\\df_final_features.csv\\df_final_features.csv')

In [27]:
df.head()

,Name,Sex,Age,Height,Weight,Team,Year,Season,Host_City,Host_Country,...,GDP_Per_Capita_Constant_LCU_Value,Cereal_yield_kg_per_hectare_Value,Military_expenditure_current_LCU_Value,Tax_revenue_current_LCU_Value,Expense_current_LCU_Value,Central_government_debt_total_current_LCU_Value,Representing_Host,Avg_Temp,Medal,Medal_Binary
0,A Dijiang,M,24.0,180.0,80.0,China,1992,Summer,Barcelona,Spain,...,6875.676999,4362.3,6.849287e+10,1.605180e+12,7.161170e+12,4.396980e+12,0,6.95,0,0
1,A Lamusi,M,23.0,170.0,60.0,China,2012,Summer,London,United Kingdom,...,41274.127360,5825.2,9.935000e+11,5.524090e+12,7.161170e+12,3.974130e+13,0,6.95,0,0
2,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,1988,Winter,Calgary,Canada,...,24946.565910,6194.0,6.035300e+09,5.311044e+10,1.125100e+11,1.441520e+11,0,9.25,0,0
3,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,1988,Winter,Calgary,Canada,...,24946.565910,6194.0,6.035300e+09,5.311044e+10,1.125100e+11,1.441520e+11,0,9.25,0,0
4,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,1992,Winter,Albertville,France,...,27485.503400,7459.2,6.307500e+09,6.846182e+10,1.338420e+11,1.624580e+11,0,9.25,0,0

In [28]:
df.columns

Index(['Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'Year', 'Season',
       'Host_City', 'Host_Country', 'Sport', 'Event',
       'GDP_Per_Capita_Constant_LCU_Value',
       'Cereal_yield_kg_per_hectare_Value',
       'Military_expenditure_current_LCU_Value',
       'Tax_revenue_current_LCU_Value', 'Expense_current_LCU_Value',
       'Central_government_debt_total_current_LCU_Value', 'Representing_Host',
       'Avg_Temp', 'Medal', 'Medal_Binary'],
      dtype='object')

In [29]:

df.isnull().sum()

Name                                               0
Sex                                                0
Age                                                0
Height                                             1
Weight                                             1
Team                                               0
Year                                               0
Season                                             0
Host_City                                          0
Host_Country                                       0
Sport                                              0
Event                                              0
GDP_Per_Capita_Constant_LCU_Value                  0
Cereal_yield_kg_per_hectare_Value                  0
Military_expenditure_current_LCU_Value             0
Tax_revenue_current_LCU_Value                      0
Expense_current_LCU_Value                          0
Central_government_debt_total_current_LCU_Value    0
Representing_Host                                  0
Avg_Temp                                           0
Medal                                              0
Medal_Binary                                       0
dtype: int64

In [30]:
df['Height']=df['Height'].fillna(0)

In [31]:
df['Weight']=df['Weight'].fillna(0)

In [32]:
df.isnull().sum()

Name                                               0
Sex                                                0
Age                                                0
Height                                             0
Weight                                             0
Team                                               0
Year                                               0
Season                                             0
Host_City                                          0
Host_Country                                       0
Sport                                              0
Event                                              0
GDP_Per_Capita_Constant_LCU_Value                  0
Cereal_yield_kg_per_hectare_Value                  0
Military_expenditure_current_LCU_Value             0
Tax_revenue_current_LCU_Value                      0
Expense_current_LCU_Value                          0
Central_government_debt_total_current_LCU_Value    0
Representing_Host                                  0
Avg_Temp                                           0
Medal                                              0
Medal_Binary                                       0
dtype: int64

In [33]:
df=df.drop('Medal',axis=1)

In [34]:
X=df.drop('Medal_Binary' ,axis=1)
y=df['Medal_Binary']

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [ ]:
from